#body{
    background-image: url(../../img/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(#444, 0.7);
        z-index: -1;
    }
    .body{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }
    .container{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: transparent;
        animation: text_reveal 0.5s ease forwards;
        animation-delay: 1s;

        span{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: var(--secondary-font-color);
            animation: text_reveal_box 1s ease;
            animation-delay: .5s;
        }
        &:nth-child(1){
            animation-delay: 1s;

            span{
                animation-delay: 0.5s;
            }
        }
        &:nth-child(2){
            font-size: 70px;
            animation: text_reveal_name .5s ease forwards;
            animation-delay: 2s;
            

            span{
                animation-delay: 1.5s;
            }
        }
        &:nth-child(3){
            animation-delay: 3s;

            span{
                animation-delay: 2.5s;
            }
        }
        &:nth-child(4){
            animation-delay: 4s;

            span{
                animation-delay: 3.5s;
            }
        }
    }
    .cta{
        display: inline-block;
        padding: 10px 30px;
        color: #fff;
        background-color: transparent;
        border: 3px solid var(--secondary-font-color);
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-top: 30px;
        transition: .3s ease;
        transition-property: background-color, color;

        &:hover{
            color: #fff;
            background-color: var(--secondary-font-color);
        }
    }
}