p{
    color: #fff;
    text-align: left;
    font-size: 1.7rem;
    line-height: 1.9rem;
}
span{
    color: var(--secondary-font-color);
}
a{
    text-decoration: none;
}
.about .about-content, 
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}